.preview-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border: 1px solid black;
    aspect-ratio: 210 / 297;
    width: 400px;
    font-size: 11px;
}

.preview {
    padding: 1em;
}

.name-header {
    margin-top: 10px;
    font-size: 1.7em;
    font-weight: bold;
}

h2 {
    font-size: 18px;
}

h3 {
    margin-top: 5px;
    font-size: 14px;
}

.about-info {
    display: flex;
    flex-flow: row wrap;
}

.about-info > p {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid black;
}

.p-education-section, .p-experience-section {
    position: relative;
    margin-top: 1em;
    border: none;
    border-top: 1px solid black;
}

.school-container, .company-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-education-container, .p-experience-container {
    position: relative;
    margin-left: 1em;
}

.p-experience-container > li {
    margin-left: 1em;
}

.formatted-date > div{
    position: relative;
    display: flex;
    gap: 0.5em;
}

.pdf-button {
    margin-top: 10px;
    margin-bottom: 10px;
}